<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://s3.pstatp.com/">
    <link rel="dns-prefetch" href="https://s3a.pstatp.com/">
    <link rel="dns-prefetch" href="https://s3b.pstatp.com/">
    <link rel="dns-prefetch" href="https://p1.pstatp.com/">
    <link rel="dns-prefetch" href="https://p3.pstatp.com/">
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    
    <meta name="baidu-site-verification" content="T239HZAbh7">
    
    <meta name="360-site-verification" content="b96e1758dfc9156a410a4fb9520c5956">
    <meta name='360_ssp_verify' content='2ae4ad39552c45425bddb738efda3dbb'>
    <meta name="google-site-verification" content="3PYTTW0s7IAfkReV8wAECfjIdKY-bQeSkVTyJNZpBKE">
    <meta name="shenma-site-verification" content="34c05607e2a9430ad4249ed48faaf7cb_1432711730">
    <meta name="baidu_union_verify" content="b88dd3920f970845bad8ad9f90d687f7">
    <meta name="domain_verify" content="pmrgi33nmfuw4ir2ej2g65lunfqw6ltdn5wselbcm52wszbchirdqyztge3tenrsgq3dknjume2tayrvmqytemlfmiydimddgu4gcnzcfqrhi2lnmvjwc5tfei5dcnbwhazdcobuhe2dqobrpu">
    
    <title>login</title>
    <meta name='keywords' content='今日头条，头条，头条网，头条新闻，今日头条官网'>
    <meta name='description' content='《今日头条》(www.toutiao.com)是一款基于数据挖掘的推荐引擎产品，它为用户推荐有价值的、个性化的信息，提供连接人与信息的新型服务，是国内移动互联网领域成长最快的产品服务之一。'>

    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="https://s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/favicon_5995b44.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/style/lib/layout_f4855e3.css">
    <!--[if lt IE 9]>
      <script src="//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/js/lib/es5-shim_110642e.js"></script>
    <![endif]-->
    <script src="https://s3.pstatp.com/toutiao/resource/ntoutiao_web/static/js/common/lib_8714ad5.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://s3a.pstatp.com/toutiao/resource/ntoutiao_web/page/loginCtr/sign/sign_691e7cc.css" />

</head>

<body style="min-width: 768px; overflow-x: hidden;">
    

    <a href="https://sso.toutiao.com/articles_news_society/" style="display:none;"></a>

    <div class="y-wrap">
        
    <div class="content">
        <a href="http://www.toutiao.com/" class="logo-wrap">
            <img src="https://s3.pstatp.com/toutiao/resource/ntoutiao_web/static/image/logo_271e845.png" alt="">
        </a>
        <div class="slogan-wrap">
            <img src="https://s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/login/slogan_c6bab2f.png" alt="">
        </div>
        <div riot-tag='signBox'></div>
    </div>

    </div>

    <script>
        window.globals = window.globals || {};

        window.taAnalysis && taAnalysis.setup({
          c: ''
        });
        window.taAnalysis && taAnalysis.send('pageview', {});

        utils.on(document.getElementsByTagName('body')[0], 'click', function(e) {
            var target = utils.getTarget(e),
                ga_event,
                ga_category,
                ga_label,
                ga_value;

            while(target && target.nodeName.toUpperCase() !== 'BODY') {
                ga_event = utils.getAttribute(target, 'ga_event');
                ga_category = utils.getAttribute(target, 'ga_category') || '';
                ga_label = utils.getAttribute(target, 'ga_label');
                ga_value = utils.getAttribute(target, 'ga_value') || 1;

                ga_event && window._czc && _czc.push(["_trackEvent", ga_category, ga_event, ga_label, ga_value]);
                ga_event && taAnalysis && taAnalysis.send('event', { ev: ga_event });
                target = target.parentNode;
            }
        });

        riot.observable(window);
    </script>
    <script src='https://s2.pstatp.com/growth/confucius/confs/toutiao.web.toutiao_pc-pc-fe_switch.js?t=mdHi'></script>
    <script>
      var PAGE_SWITCH = window['toutiao.web.toutiao_pc/pc/fe_switch'] || {};
    </script>
    <script>
        (function(win, export_obj) {
            win['TeaAnalyticsObject'] = export_obj;
            if (!win[export_obj]) {
                function _collect() {
                    _collect.q.push(arguments);
                }
                _collect.q = _collect.q || [];
                win[export_obj] = _collect;
            }
            win[export_obj].l = +new Date();
        })(window, 'collectEvent');
    </script>
   
<!--    <script async src="https://s3.pstatp.com/pgc/tech/collect/collect-v.3.2.14.js"></script>
    <script>
        window.collectEvent('init', {
            app_id: 24,
            channel: 'cn',
            log: false, // 开启调试日志
        });
        window.collectEvent('start');
    </script>
    
    <script src='https://s3b.pstatp.com/toutiao/resource/ntoutiao_web/page/loginCtr/sign/sign_f639a18.js'></script>
 -->

    <script>
        riot.mount('signBox', {
            service: 'https://mp.toutiao.com/sso_confirm/?redirect_url=%2F'
        });
    </script>
    <a href="/getcontent">添加文章</a>
    <form method="POST" class="signBox" action="login">
	<div class="input-field">
		<input type="text"  name="account" autocomplete="off" spellcheck="false"
		placeholder="邮箱">
	</div>
	<div class="input-field">
		<input type="password"  name="password" autocomplete="off" spellcheck="false" placeholder="密码">
	</div>
	<input type="submit" name="submitbtn" class="action-btn " value="登录">
</form>

</body>
</html>
